.donations {
  font-weight: 300;
  padding: 40px 0;
  &__needs {
    text-align: center;
  }
  &__pay {
    padding-top: 40px;
  }
  .needs {
    &__content {
      padding: 40px 0;
      img {
        width: 250px;
      }
    }
    &__text {
      a {
        color: #3576f3;
      }
    }
  }
  .pay {
    text-align: center;
    &__title {
      font-weight: 400;
      font-size: 22px;
      line-height: 36px;
    }
    &__title-type {
      padding: 40px 0;
      display: flex;
      justify-content: space-around;
      max-width: 750px;
      margin: 0 auto;
      button {
        background-color: initial;
        border: none;
        padding-bottom: 10px;
        &:hover {
          border-bottom: 1px solid #3576f3;
        }
      }
    }
    &__type {
      display: grid;
      padding: 0 10px;
      grid-template-columns: minmax(auto, 200px) minmax(auto, 200px);
      justify-content: center;
      grid-gap: 15px;
      button {
        background-color: #000000;
        color: #fff;
      }
    }
    &__separator {
      padding: 60px 0;
      width: fit-content;
      margin: 0 auto;
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 120px;
        background-color: #000000;
      }
      &::before {
        top: 67px;
        left: -140px;
      }
      &::after {
        top: 67px;
        left: 50px;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .donations {
    padding: 0;
    display: flex;
    align-items: center;

    height: 100vh;
    &__needs,
    &__pay {
      flex: 720px;
    }
    .needs {
      &__content {
        padding: 20vh 0;
      }
    }

    .pay {
      padding-top: 10vh;
      background: #f2f2f2;
      height: 100%;
    }
  }
}
