@import "../mixins";
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  .nav {
    padding-top: 20px;
    @include flex;
    justify-content: space-around;

    &__btn {
      width: max-content;
      background: none;
      border: none;
      text-decoration: none;
      color: inherit;
      &:hover {
        font-weight: 700;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .menu {
    align-items: flex-end;
    flex-direction: row;
    &__logo,
    &__nav {
      flex: 1;
    }
  }
}

@media screen and (min-width: 1000px) {
}
