@import "../../mixins";
.about-us {
  @include flex;
  padding: 30px 20px;
  background-image: url("../../img/About-us/illustration.png");
  background-repeat: no-repeat;
  background-position: right 10px top 10%;
  position: relative;

  &__backgroud-img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
  }

  .content {
    z-index: 2;
    &__title {
      font-size: 36px;
      line-height: 45px;
    }
    &__text {
      padding: 20px 0;
      font-size: 18px;
      @include font-text-mobile;
    }
    &__btn {
      padding: 40px 0;
      button {
        color: #fff;
        background-color: #3576f3;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .about-us {
    &__content {
      width: 50%;
      flex-direction: column;
    }
    &__backgroud-img {
      position: absolute;
      top: 35%;
      right: 20%;
      z-index: 1;
    }
  }
}

@media screen and (min-width: 1000px) {
  .about-us {
    padding: 80px 20px;

    .content {
      &__title {
        font-size: 63px;
        line-height: 74px;
      }
      &__text {
        @include font-text-desktop;
      }
      &__btn {
        padding: 80px 0;
      }
    }
  }
}
